.flex-contalner{
    display: flex;
    flex-direction: row;
    /* background-color: turquoise; */
}
.flex-contalner>div{
    margin: 10px;
    border: 10px solid #359;
    padding: 10px;
    background-color: blueviolet;
    box-sizing: content-box;
}
.flex-menus{
    display: flex;
    flex-direction: row;
}